<div class="row">
    <div class="col-8 offset-2" *ngIf="bookings!.length == 0; else hasBookings">
        <h1 class="text-center" [innerText]="errorMessage">Loading...</h1>
    </div>

    <ng-template #hasBookings>
        <div class="col-8 offset-2">

            <h1>My Bookings</h1>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Coach</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings;  let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td><a routerLink="/coach/view/{{booking.coachId}}" target="_blank">{{booking.username}}</a>
                        <td>{{formatDateAsReadable(booking.date)}}</td>
                        <td>
                            <!-- Buttons -->
                            <a routerLink="/booking/delete/{{booking.id}}"><button type="button" class="btn btn-danger">Cancel</button></a>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </ng-template>
</div>