<div class="row">
    <div class="col-4 offset-4">
        <h1>My Account</h1>
        
        <!-- Coach Box -->
        <div class="row coach-box">

            <!-- Profile Image -->
            <div class="col-3">
                <img class="img-fluid img-thumbnail rounded profile-pic" src="https://pbs.twimg.com/media/FDxyjj9XoA8nmau?format=jpg&name=900x900" />
            </div>

            <!-- Other -->
            <div class="col">
                <h2>{{user?.username}}</h2>
                <p>{{user?.description}}</p>

                <div class="col manage-box">
                    <h2>Manage</h2>
                    <hr>
                    <div class="link"><a routerLink="/profile/edit"><button type="button" class="btn btn-primary">Profile</button></a></div>
                    <div class="link"><a routerLink="/client/bookings"><button type="button" class="btn btn-primary">Bookings</button></a></div>
                </div>
            </div>

            <!-- Timeslot Stuff-->
            <div>
            </div>
        </div>
    </div>
</div>